<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="lolmatchupsDB" providerName="MySql.Data.MySqlClient"
          connectionString="server=localhost;user id=userid;password=pass;persistsecurityinfo=True;database=lolmatchups;" />
  </connectionStrings>
</configuration>