body {
	font-family: "Segoe UI", "Helvetica", "Arial", San-serif;
	font-size: 13px;
	margin: 0;
	-background: url(name.jpg) no-repeat center top fixed;
    -background-size: cover;
}
#search_box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -150px;
    width: 300px;
    height: 50px;
}
#summoner_info {
    position: absolute;
    top: 57%;
    left: 50%;
    margin-top: 0px;
    margin-left: -500px;
    width: 1000px;
    height: 100px;
}
#server_status {
    position: absolute;
    top: 75%;
    left: 50%;
    margin-top: 0px;
    margin-left: -150px;
    width: 300px;
    height: 100px;
}